<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3" style="background-color: rgb(124, 187, 174);">
    <div class="container">
        <h1><a class="navbar-brand" href="/"><img src="/images-removebg-preview.png" alt="" width="150px " height="50px"></a></h1>
        <!-- if logo is image enable this   
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="fa icon-expand fa-bars"></span>
            <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- </div> -->
            <div class="Login_SignUp" id="login" style="font-size: 2rem ; display: inline-block; position: relative;">
                <!-- <li class="nav-item"> -->
                <a class="nav-link" href="/user/registerpage-display"><i class="fa fa-user-circle-o"></i></a>
                <!-- </li> -->
            </div>
        </div>

       
               <% if (user) { %>
                <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="dropdown05" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2 fw-semibold text-dark"><%= user.first_name %> <%= user.last_name %></span>
                        <img src="<%= user.profilePic || '/invalid-image.jpg' %>" 
                            onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';" 
                            class="rounded-circle" height="40" width="40" alt="Profile Picture">
                        <i class="fa-solid fa-circle-user fa-2x ms-2" style="display: none;"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdown05">
                        <li class="px-3 py-2">
                        <div class="fw-bold text-dark mb-1">Hi <%= user.first_name %>!</div>
                        <div class="text-muted small"><%= user.email %></div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                        <a class="dropdown-item" href="/user/dashboard-display">
                            <i class="fa-solid fa-house me-2 text-primary"></i>Dashboard
                        </a>
                        </li>
                        <li>
                        <a class="dropdown-item text-danger" href="/user/logout">
                            <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
                        </a>
                        </li>
                    </ul>
                    </li>
                </ul>

                <% } else { %>
                     <div class="collapse navbar-collapse" id="navbarmain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/invalid-image.jpg"
                            onerror="this.style.display='none'; this.nextElementSibling.style.display='inline-block';"
                            height="40px" width="40px" style="border-radius: 50%;">
                        <i class="fa-solid fa-circle-user fa-2x ms-2" style="display:none;"></i>
                       
                    </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                    <li><a class="dropdown-item" href="/user/loginpage-display">Login</a></li>
                    <li><a class="dropdown-item" href="/user/registerpage-display">Register</a></li>
                    <li><a class="dropdown-item" href="/user/forgotpassword">Forgot Password</a></li>
                </ul>
                <% } %>

                </li>
            </ul>

        </div>

    </div>
</nav>
<div class="container-fluid" style="background-color:rgb(34, 145, 114); height: 50px; padding-top: 10px; ">
    <div class="container" style="border: 2px soild rgb(32, 165, 101);">
        <div class="row" >
            <div class="col-4" style="width: 100%;display: flex; justify-content: space-between;">
                <ul style="display: flex; justify-content:space-between; list-style: none; ">
                    <li><a href="/" style="color: black; text-decoration: none; padding: 0px 10px;">Home</a></li>
                    <li><a href="/movies" style="color: black; text-decoration: none; padding: 0px 10px;">Movies</a></li>
                    <li><a href="/events" style="color: black; text-decoration: none; padding: 0px 10px;">Events</a></li>
                    <li><a href="/contact" style="color: black; text-decoration: none; padding: 0px 10px;">Contact Us</a></li>
                    <!-- <li><a href="#" style="color: black; text-decoration: none; padding: 0px 10px;">Plays</a></li> -->
                    <!-- <li><a href="#" style="color: black; text-decoration: none; padding: 0px 10px;">Sports</a></li> -->
                    <!-- <li><a href="#" style="color: black; text-decoration: none; padding: 0px 10px;">Activites</a></li> -->
                </ul> 

                <ul style="display: flex; justify-content:space-between; list-style: none; ">
                    <li><a href="/organizer/login" style="color: black; text-decoration: none;  padding: 0px 10px;">Corporate login</a></li>
                    <li><a href="/organizer/register" style="color: black; text-decoration: none;  padding: 0px 10px;">Corporates</a></li>
                    <!-- <li><a href="/events" style="color: black; text-decoration: none; padding: 0px 10px;">Offers</a></li> -->
                    <!-- <li><a href="#" style="color: black; text-decoration: none; padding: 0px 10px;">Gift Cards</a></li> -->
                  
                </ul>
            </div>
        </div>
      
  
    </div>
</div>
 <%if(success_mssg[0]){%>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: "<%= success_mssg %>"
        });
    </script>
  <!-- <h5 class="alert alert-info" style="color: rgb(83, 184, 153); background-color: rgb(51, 103, 87);">
                <%=success_mssg%>
            </h5> -->
    <%}%>
        <%if(error_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'error',
                     title: 'Error',
                    text: "<%=error_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(info_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'info',
                     title: 'Info',
                    text: "<%=info_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(warning_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'warning',
                     title: 'Warning',
                    text: "<%=warning_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(msg_mssg[0]){%>
            <script>
                Swal.fire({
                    text: "<%=msg_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
