<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User List - BookMyTicket</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,
    600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- DataTables styles -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('../../layout/adminlayout/admin_sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('../../layout/adminlayout/admin_navbar.ejs') %>

                <!-- Page Content -->
                <div class="container-fluid" >
                    <h1 class="h3 mb-2 text-gray-800">User Tables</h1>
                    

                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                                    <thead>
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>User Name</th>
                                            <th>User email</th>
                                            <th>User phone</th>
                                            <th>User gender</th>
                                            <th>User DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>User Name</th>
                                            <th>User email</th>
                                            <th>User phone</th>
                                            <th>User gender</th>
                                            <th>User DOB</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% userdata.forEach((data, ind) => { %>
                                            <tr>
                                                <td><%= ind + 1 %></td>
                                                <td>
                                                  <span><%=data.first_name%></span> <span><%=data.last_name%></span>
                                                </td>
                                                <td><%=data.email%></td>
                                                <td><%=data.phone%></td>
                                                <td><%=data.gender%></td>
                                                <td><%= new Date(data.date_of_birth).toDateString()%></td>
                                                <td>
                                                    <form action="/admin/account/delete/<%=data._id%>" method="GET" class="delete-form d-inline">
                                                    <input type="hidden" name="id" value="<%= data._id %>">
                                                    <input type="hidden" name="message" class="delete-message">
                                                    <button type="button" class="btn btn-danger btn-sm btn-delete">
                                                        <i class="fas fa-trash"></i> Delete
                                                    </button>
                                                    </form>

                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('../../layout/adminlayout/admin_footer.ejs') %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

  
    <!-- jQuery (load first) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Easing -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- SB Admin 2 Custom scripts -->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- DataTables -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Custom Delete Confirmation -->
  <script>
  $(document).ready(function () {
    $('.btn-delete').click(function (e) {
      e.preventDefault();
      const button = $(this);
      const form = button.closest('form');
      const messageInput = form.find('.delete-message');

      Swal.fire({
        title: 'Enter a delete message',
        input: 'text',
        inputPlaceholder: 'Why are you deleting this?',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed && result.value) {
          messageInput.val(result.value); // Set the hidden field
          form.submit(); // Submit the form with query params
        }
      });
    });
  });
</script>


</body>

</html>
