<nav class="navbar navbar-expand navbar-light  topbar mb-4 static-top shadow"
    style="background-color: rgb(167, 214, 197);">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span><span style="color: black; padding-right: 10px; font-size: 20px; font-weight: 700;"><%=user.company_name%> </span><br><span style="color: black; padding: 5px 20px; font-size: 15px; font-weight: 500;"><%=user.address.city.charAt(0).toUpperCase() + user.address.city.slice(1).toLowerCase() %></span></span>
            <%if(user.logo == 'null'){%>
                 <img 
            class="img-profile rounded-circle" 
            src="/default-avatar.png" 
            >
                <%}else{%>
                     <img 
            class="img-profile rounded-circle" 
            src="/<%= user.logo.replace(/^uploads[\\/]/, '').replace(/\\/g, '/') %>" 
            >
                    <%}%>
           
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/organizer/profile">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a> -->
                <!-- <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/organizer/logout"  >
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
  <%if(success_mssg[0]){%>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: "<%= success_mssg %>"
        });
    </script>
  <!-- <h5 class="alert alert-info" style="color: rgb(83, 184, 153); background-color: rgb(51, 103, 87);">
                <%=success_mssg%>
            </h5> -->
    <%}%>
        <%if(error_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'error',
                     title: 'Error',
                    text: "<%=error_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(info_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'info',
                     title: 'Info',
                    text: "<%=info_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(warning_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'warning',
                     title: 'Warning',
                    text: "<%=warning_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
       <%if(msg_mssg[0]){%>
            <script>
                Swal.fire({
                    text: "<%=msg_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
