<div class="top-navbar d-flex justify-content-end align-items-center p-2 ">
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="userMenuToggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="<%= user.profilePic || '/default-avatar.png' %>" alt="Profile" width="36" height="36" class="rounded-circle me-2" />
      <span class="fw-semibold"><%= user.first_name %> <%= user.last_name %></span>
    </a>

    <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="userMenuToggle">
      <li class="px-3 py-2">
        <div class="fw-bold text-dark">Hi <%= user.first_name %>!</div>
        <small class="text-muted"><%= user.email || 'Welcome back' %></small>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/user/dashboard-display"><i class="fa-solid fa-house me-2"></i>Dashboard</a></li>
      <li><a class="dropdown-item text-danger" href="/user/logout"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a></li>
    </ul>
  </div>
</div>

   <%if(success_mssg[0]){%>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: "<%= success_mssg %>"
        });
    </script>
  <!-- <h5 class="alert alert-info" style="color: rgb(83, 184, 153); background-color: rgb(51, 103, 87);">
                <%=success_mssg%>
            </h5> -->
    <%}%>
        <%if(error_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'error',
                     title: 'Error',
                    text: "<%=error_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(info_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'info',
                     title: 'Info',
                    text: "<%=info_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(warning_mssg[0]){%>
            <script>
                Swal.fire({
                     icon: 'warning',
                     title: 'Warning',
                    text: "<%=warning_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
        <%if(msg_mssg[0]){%>
            <script>
                Swal.fire({
                    text: "<%=msg_mssg%>"
                });
            </script>
            <!-- <h5 class="alert alert-danger" style="color: black; ">
                        <%=error_mssg%>
                    </h5> -->
            <%}%>
